[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
mplsoccer = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
plotly = "*"
millify = "*"
mistralai = "*"
streamlit-plotly-events = "*"
streamlit-js-eval = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3"
